.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.logo,
.menu {
  display: inline-block;
  display: flex;
  align-items: center;
}

.logo {
  width: 190px;
  height: 35px;
  font: bold 24px/31px serif, arial, helvetica, sans-serif;
  background: url('img/logo.svg');
}

.menu__item {
  padding: 0 13px;
}
