.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 139px;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.hamburger-menu {
  visibility: hidden;
  position: absolute;
}

.logo,
.menu {
  display: inline-block;
  display: flex;
  align-items: center;
  margin: -18px 0;
}

.logo {
  position: relative;
  padding: 24px 41px;
  font: 700 24px/32px 'PT_Serif', arial, helvetica, sans-serif;
}

.menu {
  margin-top: 1px;
  word-spacing: 2px;
  padding-bottom: 9px;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.menu__item {
  position: relative;
  margin-right: 27px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opasity 0.5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  width: 68px;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.main {
  z-index: 999;
  padding: 22px 62% 143px 0px;
  background: top right no-repeat url(img/main-img.svg);
  background-size: 770px 657px;
}

.main__title {
  margin-bottom: 19px;
  font: bold 66px/87px 'PT_Serif', arial, helvetica, sans-serif;
}

.main__subtitle {
  font: 22px/26px 'Roboto', arial, helvetica, sans-serif;
}

.main__button:hover {
  opacity: 0.5;
}

.main__title-text_highlight {
  background: linear-gradient(180deg,rgba(255,255,255,1) 15%, #ECF3FF 15%);
}

@media (max-width: 2000px) and (min-width: 1500px) {
  .main__subtitle {
    word-spacing: -0.5px;
    padding: 18px 27.8px;
    margin: 0 18% 25px -32px;
  }

  .main__title {
    letter-spacing: -0.3px;
  }

  .main__button {
    align-items: center;
    width: 250px;
    height: 56px;
    justify-content: start;
    padding-left: 21px;
    margin: 0 4px 45px -2.9px;
    display: flex;
    font: 18px/19px 'Roboto', arial, helvetica, sans-serif;
    color: #fff;
    background: #0056ec;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.5s;
  }
}

@media (min-width: 1367px) and (max-width: 1500px) {
  .wrapper {
    width: 85%;
  }
}

@media (min-width: 1025px) and (max-width: 1367px) {
  .wrapper {
    width: 69%;
  }

  .logo {
    letter-spacing: 0.6px;
  }

  .menu__item {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
  }

  .main__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 42px;
  }

  .main {
    margin: 0 0 67px 0;
    background-size: 514px 439px;
    background-position: right bottom;
    padding: 24px 41% 14px 0;
  }

  .menu {
    margin-bottom: -20px;
    word-spacing: -1.9px;
    margin-right: 10px;
    letter-spacing: -0.3px;
  }

  .main__subtitle {
    margin-bottom: 41px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-left: 0px;
    padding-right: 30%;
  }

  .main__button {
    align-items: center;
    width: 193px;
    height: 43px;
    justify-content: start;
    padding-left: 17px;
    margin: 0 4px 45px -2.9px;
    display: flex;
    font: 14px/16px 'Roboto', arial, helvetica, sans-serif;
    color: #fff;
    background: #0056ec;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.5s;
  }

  .header {
    margin-bottom: 45px;
  }
}

@media (min-width: 1001px) and (max-width: 1024px) {
  .wrapper {
    width: 92%;
  }

  .menu__item {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
  }

  .main__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 42px;
    letter-spacing: -0.3px;
  }

  .main {
    margin: 0 0 67px 0;
    background-size: 514px 439px;
    background-position: right bottom;
    padding: 24px 41% 14px 0;
  }

  .menu {
    margin-bottom: -20px;
    word-spacing: -1.8px;
    margin-right: 4px;
    letter-spacing: -0.3px;
  }

  .main__subtitle {
    margin-bottom: 41px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-left: -1.9px;
    padding-right: 30%;
  }

  .main__button {
    align-items: center;
    width: 193px;
    height: 43px;
    justify-content: start;
    padding-left: 17px;
    margin: 0 4px 45px -2.9px;
    display: flex;
    font: 14px/16px 'Roboto', arial, helvetica, sans-serif;
    color: #fff;
    background: #0056ec;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.5s;
  }

  .header {
     margin-bottom: 47px;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .wrapper {
    width: 95%;
  }

  .menu__item {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
  }

  .main__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 42px;
    letter-spacing: -0.3px;
  }

  .main {
    margin: 0 0 67px 0;
    background-size: 470px 399px;
    background-position: right bottom;
    padding: 24px 56% 4px 0;
  }

  .menu {
    margin-bottom: -20px;
    word-spacing: -1.8px;
    margin-right: 4px;
    letter-spacing: -0.3px;
  }

  .main__subtitle {
    margin-bottom: 41px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    margin-left: -1.9px;
    padding-right: 30%;
  }

  .main__button {
    align-items: center;
    width: 193px;
    height: 43px;
    justify-content: start;
    padding-left: 17px;
    margin: 0 4px 45px -2.9px;
    display: flex;
    font: 14px/16px 'Roboto', arial, helvetica, sans-serif;
    color: #fff;
    background: #0056ec;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.5s;
  }

  .header {
     margin-bottom: 47px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 86%;
  }

  .menu {
    display: none;
  }

  .logo__circle_color_blue {
    left: -9px;
    top: 39%;
  }

  .logo,
  .menu {
    margin: 0;
  }

  .hamburger-menu {
    visibility: visible;
  }

  .main__logo {
    display: none;
  }

  .header {
    margin: 19.6px 0;
  }

  .main {
    text-align: center;
    padding: 74% 10% 0;
    background-size: 280px 239px;
    background-position: top center;
    margin: 0 0 67px 0;
  }

  .animate__stick {
    display: none;
  }

  .main__title {
    margin: 32px 2px 31px 8px;
    font: bold 30px/40px serif, arial, helvetica, sans-serif;
    word-spacing: -1px;
    letter-spacing: 1.7px;
  }

  .main__subtitle {
    font: 500 16px/19px 'Roboto', arial, helvetica, sans-serif;
    margin: 0 0 26.2px 6px;
 }

 .main__button {
   align-items: center;
   width: 193px;
   height: 43px;
   justify-content: start;
   padding-left: 17px;
   margin: 0 4px 45px 19.8px;
   display: flex;
   font: 14px/16px 'Roboto', arial, helvetica, sans-serif;
   color: #fff;
   background: #0056ec;
   text-decoration: none;
   border-radius: 4px;
   transition: opacity 0.5s;
 }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-self: flex-end;
    margin-left: 293px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 1;
    margin-top: -30px;
  }

  .menu__btn >span,
  .menu__btn >span::before,
  .menu__btn >span::after {
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #0056ec;
    align-self: flex-end;
  }

  .menu__btn >span::before {
    content: '';
    top: -8px;
  }

  .menu__btn >span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 176px 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: 0.25s;
  }

  .menu__item_hamburger-menu {
    display: block;
    padding: 12px 24px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 35.9px;
    text-decoration: none;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked~ .menu__btn>span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked~ .menu__btn>span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked~ .menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn>span,
  .menu__btn>span::before,
  .menu__btn>span::after {
    transition-duration: 0.25s;
  }

  .menu__item {
    transition-duration: 0.25s;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  .main {
    background-size: 390px 310px;
  }

  .menu__btn {
    margin-left: 400px;
  }

  .main__button {
    margin-left: 100px;
  }

  .main__title {
    padding: 0 18%;
    margin-top: -20px;
  }
}

@media (min-width: 421px) and (max-width: 450px) {
  .menu__btn {
    margin-left: 310px;
  }

  .main__button {
    margin: 0 4px 45px 45px;
  }
}

.animate__stick {
  width: 60px;
  height: 25px;
  background-color: #0056EC;
  margin: 0 0 0 0;
  position: relative;
  border-radius: 30%;
  animation: stick 3s cubic-bezier(0.18, 0.05, 0.65, 0.32) infinite alternate 0s forwards;
}

@keyframes stick {
  0% {
    left: 0;
  }
  40% {
    width: 300px;
    height: 40px;
  }
  50% {
    border-radius: 3%;
  }
  60% {
    background-color: #C8DBFB;
  }
  100% {
    left: 100%;
  }
}
